@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "windows";
  src: url("/font/w95fa.woff");
}

@font-face {
  font-family: "windowsBold";
  src: url("/font/w95fa.woff2");
}
